html{
    width: 80%;
    margin: auto;
    scroll-behavior: smooth;
    display: block;
}
body { 
    margin: auto;
    align-items: center;
    background-color: rgb(141, 211, 189);
    color: #000; 
    font-family: 'Montserrat', sans-serif; 
}
figure{
width: 250px;
height: 150px;
}
.me{
    border-radius: 50%;
    width: 100%;
    padding: 10px;
}  
.Contacts{
  margin-top: 130px;
}
header{
    height: 50px;
    padding: 5px;
}
.leftGroup{
    background-color: #e9c0b1;
    text-align: center;
    align-items: center;
    border-radius: 10px
}
.rightGroup{
    padding: 1px;
}
.leftGroup ul{
    list-style-type: none;
    margin-right: 30px;
}
footer{
  height: 50px;
  display: flex;
  width: 100%;
}
.intro{
  display: flex;
  justify-content: center;
}
.introp{
  margin-top: 15px;
}
h2 { 
  background-color: #fff; 
  color: #000; 
  font-weight: bold; 
  border-radius: 5px; 
  padding: 5px 10px; 
}  
.menu{
  text-transform: uppercase;
  list-style-type: none;
}
.menu ul li {
  display: inline;
  margin: 0 auto;
}
.menu a{
  color: #000;
}
h1 {
  margin-left: 30px;
  font-size: 300%;
}
span{
  margin-left: 30px;
  font-size: 150%;
}
.am {
  margin-left: 30px;
}
details{
  margin-left: 30px;
}
.Education{
  padding: 1px;
}
pre{
  background-color: rgb(227, 244, 239);
  border: rgb(50, 156, 122) 1px solid;
  border-radius: 3px; 
}
.HSkills ul{
  list-style: circle;
}
.SSkills ul{
  list-style: circle;
}
.Projects {
  text-align: center;
}
.project_item{
  margin: 20px;
  background-color: rgb(97, 202, 169);
  border: rgb(50, 156, 122) solid 2px;
  border-radius: 5px;
  text-shadow: 0px 4px 4px rgb(134, 164, 156);   
}
.projectsimage{
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgb(134, 164, 156);
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.project_item:hover{
  border-radius: 5px;
  filter: brightness(90%);
  box-shadow: 0px 4px 4px rgb(70, 150, 129);
}
.Projects h2{
  color: #000;
  background-color:  rgb(97, 202, 169);
}
.footer_year{
   margin-top: 20px;
}
.footerUL{
   width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: justify;
   list-style-type: none;
}
.RSSchool{
  width:86px;
  height:32px;
}
.GitHub{
  width:32px; 
  height:32px;
}
.Projects a{
   text-decoration: none;
}
footer img{
   margin-top: 10px;
}
footer a{
   text-decoration: none;
   color: #1b1a1a;
}
